<h1>Login Form</h1>
<%= form_tag :action =>'login' do %>
  <%= label_tag(:firstname, "Firstname:") %>
  <%= text_field_tag :firstname,  @firstname %><br/>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag :email,  @email  %><br/>
<%= label_tag(:password, "Password:") %>
  <%= text_field_tag :password,  @password  %><br/>

<%= submit_tag 'Login'%>
<% end %>