<h1>Registration form</h1>
<%= form_for @register do |r|%>
<% if @register.errors.any?%>
<h2>:Errors</h2>
    <ul>
	<%@register.errors.full_messages.each do |message|%>
	<li><%= message%></li>
	<%end%>
	</ul>
<%end%>
<p>
	<%= r.label :Firstname%><br/>
	<%= r.text_field :firstname%>
</p>
<p>
	<%= r.label :Lastname%><br/>
	<%= r.text_field :lastname%>
</p>
<p>
	<%= r.label :Email%><br/>
	<%= r.text_field :email%>
</p>
<p>
	<%= r.label :Password%><br/>
	<%= r.text_field :password%>
</p>
<p>
	<%= r.submit 'Register'%>
</p>
<%end%>