<p> user_mail:<%=@form.user_email%></p>
<p>user_name:<%= @form.user_name%></p>
<p>person_email:<%= @form.to_email%></p>
<p>start_date:<%= @form.from_date%></p>
<p>to_date:<%= @form.to_date%></p>
<p>Content:<%= @form.content%></p><hr/>